PERSONAL_WEBSITE_DIRECTORY=~/Documents/personal_website
PERSONAL_WEBSITE_CONFIG_PATH=~/Documents/personal_website/config/config.py
SSL_CERT_PATH=https://cdn.meme.am/instances/66627195.jpg
SSL_KEY_PATH=https://cdn.meme.am/instances/66627195.jpg
