.mainlogo{
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container{
    position: absolute;
    top: 30%;
    left:50%;
    transform: translate(-50%,-50%);
}

h1{
    font-family: 'Raleway';
}

#tech_name {
    color: #3e79e7;
}
