<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clint J Edwards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/ico" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/swagalldayerryday.css') }}">
</head>

<body>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1><img class="icon mainlogo" src="{{ url_for('static',filename='images/sun.svg') }}" /><br />Clint J Edwards</h1>

            <p class="lead">An aspiring master of all trades, minimalist, <a href="http://clockworkbjj.com/">Jiu-jitsu</a> practitioner. Working on devops at <a href="https://www.addepar.com">Addepar</a> and supporting the robot uprising one scripted chmod 777 at a time.
                Based in Brooklyn, NY.</p>

            <ul class="list-inline">
                <li><a href="https://github.com/cje3295">Github</a></li>
                <li><a href="https://www.linkedin.com/in/clintjedwards">Linkedin</a></li>
                <li><a href="https://keybase.io/cje3295">Keybase</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
