<!DOCTYPE html>
<html lang="en">
<head>
    <title>Clint J Edwards</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/ico" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/swagalldayerryday.css') }}">  
    <script type="text/javascript">
        window.onload = function() {
            var techWords = ["kublet", "nomad init", "vault auth", "go build", "chmod 777"]

            var rnd = Math.ceil(Math.random() * techWords.length - 1)

            document.getElementById("tech_name").innerText = techWords[rnd]
        };
    </script> 
</head>

<body>



<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1><img class="icon mainlogo" src="{{ url_for('static',filename='images/sun.svg') }}" /><br />Clint J Edwards</h1>

            <p class="lead">
                An aspiring master of all trades, minimalist, <a href="http://clockworkbjj.com/">jiu-jitsu</a> practitioner, and
                <a href="http://www.csboxinggym.com/">boxing</a> hobbyist. Working on devops 
                at <a href="https://www.petalcard.com/">Petal</a> and supporting the robot uprising one <a id="tech_name">kublet</a>
                at a time.
                <br />
                Based in Brooklyn, NY.
            </p>

            <ul class="list-inline">
                <li><a href="https://github.com/clintjedwards">Github</a></li>
                <li><a href="https://www.linkedin.com/in/clintjedwards">Linkedin</a></li>
                <li><a href="https://keybase.io/cje3295">Keybase</a></li>
            </ul>
        </div>
    </div>
</div>

</body>
</html>
